@{
    ViewBag.Title = "Home Page";
}

<h1>Tweets : </h1>

<div>
    @foreach (dynamic item in ViewBag.Tweets)
    {
                <div class="overlay">
                    <div class="overlaycontent">
                        <h4>@item.getText()</h4>
                        <h4>@item.getCategory()</h4>

                    </div>
                </div>
    }
</div>
