@{
    ViewBag.Title = "Home Page";
}

<h1>Tweets : </h1>

<div>
    @foreach (dynamic item in ViewBag.Tweets)
    {
        <div class="section bg2 clearfix">
                <div class="overlay">
                    <div class="overlaycontent">
                        <h3>@item.getText()
                        @item.getCategory() </h3>
                    </div>
                </div>
        </div>
    }
</div>
