@model Tubes3.Controllers.UserInput
@{
    ViewBag.Title = "Home Page";
}
<h4>@ViewBag.Message</h4>

@using (Html.BeginForm())
{
    
}

<form action="http://maps.google.com/maps" id="getdirections" class="clearfix" method="get" target="_blank">
    <div class="directionleft">
        <input type="text" name="key" id="keywordsbox" placeholder="Keywords ..." />
        <input type="hidden" name="daddr" value="52.90744,-1.384114" /> <br /> <br />
        <input type="text" name="key" id="dinas1box" placeholder="Dinas 1 ..." />
        <input type="hidden" name="daddr" value="52.90744,-1.384114" /> <br /> <br />
        <input type="text" name="key" id="dinas2box" placeholder="Dinas 2 ..." />
        <input type="hidden" name="daddr" value="52.90744,-1.384114" /> <br /> <br />
        <input type="text" name="key" id="dinas3box" placeholder="Dinas 3 ..." />
        <input type="hidden" name="daddr" value="52.90744,-1.384114" /> <br /> <br />
        <input type="text" name="key" id="choicebox" placeholder="Choice ..." />
        <input type="hidden" name="daddr" value="52.90744,-1.384114" /> <br /> <br />
        <button type="submit" class="btn btnstyle btn-5a icon-arrow-right" value="submit"><span>Submit</span></button>
    </div>
    

 </form>