@model Tubes3.Controllers.UserInput
@{
    ViewBag.Title = "Home Page";
}
<h4>@ViewBag.Message</h4>

@using (Html.BeginForm())
{
}

    
<form action="/Home/Search" class="clearfix" method="post" id="signupform">
    <input type="text" name="keywords" id="keywords" placeholder="Keywords ..." value="" /> <br /> <br />
    <div class="mid">
        <input type="text" name="dinas1" id="dinas1" placeholder="Dinas 1 ..." value="" /> <br /> <br />
        <input type="text" name="dinas2" id="dinas2" placeholder="Dinas 2 ..." value="" /> <br /> <br />
        <input type="text" name="dinas3" id="dinas3" placeholder="Dinas 3 ..." value="" /> <br /> <br />
        <input type="text" name="dinas4" id="dinas4" placeholder="Dinas 4 ..." value="" /> <br /> <br />
        <input type="text" name="dinas5" id="dinas5" placeholder="Dinas 5 ..." value="" /> <br /> <br />
            <input type="radio" id="choice1" name="choice" value="0" checked="checked" />
            <label for="choice1"><span></span>KMP Pattern</label>
            <input type="radio" id="choice2" name="choice" value="1" />
            <label for="choice2"><span></span>BM Pattern</label>
            <br />
    </div>
    <button type="submit" class="btn btnstyle btn-5a icon-arrow-right" value="submit"><span>Submit</span></button>
    

 </form>